<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.springstudy.dhere.mappers.StoryMapper">
	
		<select id="getStoryList"  resultMap="StoryResultMap">
			SELECT 
			    s.story_no,
			    s.title,
			    s.content,
			    s.email,
			    s.reg_date,
			    s.category_no,
			    s.read_count,
			    s.thank,
			    s.nickname,
			    i.file_name,
			    m.picture 
			FROM 
			    story s
			LEFT JOIN 
			    image i ON s.story_no = i.story_no
			LEFT JOIN 
			    member m ON s.email = m.email
			WHERE
			    i.image_no = (SELECT MIN(image_no) FROM image WHERE story_no = s.story_no)
		</select>
	
		<resultMap id="StoryResultMap" type="Story">
				<id property="storyNo" column="story_no" />
				<result property="title" column="title" />
				<result property="content" column="content" />
				<result property="email" column="email" />
				<result property="regDate" column="reg_date" />
				<result property="categoryNo" column="category_no" />
				<result property="readCount" column="read_count" />
				<result property="thank" column="thank" />
				<result property="nickname" column="nickname" />
				<result property="thumbnail" column="file_name" />
				<result property="profile" column="picture" />
		</resultMap>
		
	</mapper>
